*.aux
*.lof
*.toc
*.log
*.lock
*.bundle
*.vendor
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.bcf
*.swp
*.xml
*.odt
essay.pdf
seminar_beschreibung.pdf
wiss_Arbeitstechniken_fuer_Seminare_V2.pdf
presentation.nav
presentation.out
presentation.pdf
presentation.snm

