Host puppetmaster 192.168.33.10
  HostName 192.168.33.10
  User vagrant
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/chris/thesis/ansible-monitoring/.vagrant/machines/puppetmaster/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host node1 192.168.33.11
  HostName 192.168.33.11
  User vagrant
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/chris/thesis/ansible-monitoring/.vagrant/machines/node1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host node2 192.168.33.12
  HostName 192.168.33.12
  User vagrant
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/chris/thesis/ansible-monitoring/.vagrant/machines/node2/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

